# User-specific files
.vs/
.vscode/
.idea/

# User-specific Visual Studio settings
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# JetBrains Rider
.idea/

# ASP.NET Core
Scaffolding/

# Ignore VS Code folders
.vscode/

# .NET Core files
project.lock.json
project.fragment.lock.json
artifacts/

# Temporary files
*.log
*.bak
*.swp

wwwroot/