@model Project_ToDoList.Models.ToDoList
@using Project_ToDoList.Models

@{
    ViewData["Title"] = "Create";
}



<h4>Create task to do</h4>
<hr />

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Performer">Performer</label>
        <input type="text" class="form-control" asp-for="Performer" />
        <span asp-validation-for="Performer" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="EndDate">End Date</label>
        <input type="datetime-local" class="form-control" asp-for="EndDate" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
